body{
	background: #99ffcc;
	color: #000000;
	text-align: center;
}
ul{
	padding-left: 540px;
}
li{
	list-style: none;
	float: left;
	padding-left: 20px;
} 
a{
	text-decoration: none;
	list-style: none;
	font-size: 16px;
	font-family: sans-serif;
	color: blue;
}
a:hover{
	color: #ff0000;
} 
td{
	text-align: center;
}
i{
	font-size: 30px;
}
b{
	font-size: 30px;
}
#jam-digital{
	overflow:hidden; 
	width:350px;
	padding-left: 30px;
}
#hours{
	float:left; 
	width:100px; 
	height:50px; 
	background-color:#6B9AB8; 
	}
#minute{
	float:left; 
	width:100px; 
	height:50px; 
	background-color:#A5B1CB;
}
#second{
	float:right; 
	width:100px;
	height:50px; 
	background-color:#FF618A; 
	margin-right:30px;
}
#jam-digital p{
	color:#FFF; 
	font-size:36px; 
	text-align:center; 
	margin-top:4px;
}
#titik1{
	float:left; 
	width: 10px;
}